In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/USvideos.csv")

In [3]:
df.head()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,2kyS6SvSYSE,17.14.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,2017-11-13T17:13:01.000Z,SHANtell martin,748374,57527,2966,15954,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,False,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...
1,1ZAPwfrtAFY,17.14.11,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24,2017-11-13T07:30:00.000Z,"last week tonight trump presidency|""last week ...",2418783,97185,6146,12703,https://i.ytimg.com/vi/1ZAPwfrtAFY/default.jpg,False,False,False,"One year after the presidential election, John..."
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434,146033,5339,8181,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO ▶ \n\nSUBSCRIBE ► http...
3,puqaWrEC7tY,17.14.11,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,24,2017-11-13T11:00:04.000Z,"rhett and link|""gmm""|""good mythical morning""|""...",343168,10172,666,2146,https://i.ytimg.com/vi/puqaWrEC7tY/default.jpg,False,False,False,Today we find out if Link is a Nickelback amat...
4,d380meD0W0M,17.14.11,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12T18:01:41.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095731,132235,1989,17518,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40949 entries, 0 to 40948
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   video_id                40949 non-null  object
 1   trending_date           40949 non-null  object
 2   title                   40949 non-null  object
 3   channel_title           40949 non-null  object
 4   category_id             40949 non-null  int64
 5   publish_time            40949 non-null  object
 6   tags                    40949 non-null  object
 7   views                   40949 non-null  int64
 8   likes                   40949 non-null  int64
 9   dislikes                40949 non-null  int64
 10  comment_count           40949 non-null  int64
 11  thumbnail_link          40949 non-null  object
 12  comments_disabled       40949 non-null  bool
 13  ratings_disabled        40949 non-null  bool
 14  video_error_or_removed  40949 non-null  bool
 15  description             40379 non-null  object
dtypes: bool(3), int64(5), object(8)
memory usage: 4.2+ MB

In [5]:
df['trending_date'] = pd.to_datetime(df['trending_date'], format='%y.%d.%m')
df['publish_time'] = pd.to_datetime(df['publish_time'])
df['tags'] = df['tags'].astype("string")
df['description'] = df['description'].astype("string")
df['title'] = df['title'].astype("string")
df['channel_title'] = df['channel_title'].astype("string")
df['thumbnail_link'] = df['thumbnail_link'].astype("string")
# Convert to numeric, coerce non-numeric values to NaN
df['video_id'] = pd.to_numeric(df['video_id'], errors='coerce')

# Convert NaN values to 0 or handle them based on your requirements
df['video_id'].fillna(0, inplace=True)

# Convert the column to integer
df['video_id'] = df['video_id'].astype(int)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40949 entries, 0 to 40948
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   video_id                40949 non-null  int32
 1   trending_date           40949 non-null  datetime64[ns]
 2   title                   40949 non-null  string
 3   channel_title           40949 non-null  string
 4   category_id             40949 non-null  int64
 5   publish_time            40949 non-null  datetime64[ns, UTC]
 6   tags                    40949 non-null  string
 7   views                   40949 non-null  int64
 8   likes                   40949 non-null  int64
 9   dislikes                40949 non-null  int64
 10  comment_count           40949 non-null  int64
 11  thumbnail_link          40949 non-null  string
 12  comments_disabled       40949 non-null  bool
 13  ratings_disabled        40949 non-null  bool
 14  video_error_or_removed  40949 non-null  bool
 15  description             40379 non-null  string
dtypes: bool(3), datetime64[ns, UTC](1), datetime64[ns](1), int32(1), int64(5), string(5)
memory usage: 4.0 MB

In [7]:
df = df.drop_duplicates().reset_index(drop=True)
df['yt_video_id'] = df.index

In [8]:
df.head()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description,yt_video_id
0,0,2017-11-14,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,2017-11-13 17:13:01+00:00,SHANtell martin,748374,57527,2966,15954,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,False,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...,0
1,0,2017-11-14,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24,2017-11-13 07:30:00+00:00,"last week tonight trump presidency|""last week ...",2418783,97185,6146,12703,https://i.ytimg.com/vi/1ZAPwfrtAFY/default.jpg,False,False,False,"One year after the presidential election, John...",1
2,0,2017-11-14,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12 19:05:24+00:00,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434,146033,5339,8181,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO ▶ \n\nSUBSCRIBE ► http...,2
3,0,2017-11-14,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,24,2017-11-13 11:00:04+00:00,"rhett and link|""gmm""|""good mythical morning""|""...",343168,10172,666,2146,https://i.ytimg.com/vi/puqaWrEC7tY/default.jpg,False,False,False,Today we find out if Link is a Nickelback amat...,3
4,0,2017-11-14,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12 18:01:41+00:00,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095731,132235,1989,17518,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...,4

In [9]:
df = df.drop_duplicates().reset_index(drop=True)

In [10]:
publish_time_info = df[['publish_time']].reset_index(drop=True)
publish_time_info['publish_time'] = publish_time_info['publish_time']
publish_time_info['publish_hour'] = publish_time_info['publish_time'].dt.hour
publish_time_info['publish_day'] = publish_time_info['publish_time'].dt.day
publish_time_info['publish_month'] = publish_time_info['publish_time'].dt.month
publish_time_info['publish_year'] = publish_time_info['publish_time'].dt.year

publish_time_info['publish_time_id'] = publish_time_info.index

publish_time_info = publish_time_info[['publish_time_id', 'publish_time', 'publish_hour', 'publish_day', 'publish_month', 'publish_year']]
publish_time_info.head()

,publish_time_id,publish_time,publish_hour,publish_day,publish_month,publish_year
0,0,2017-11-13 17:13:01+00:00,17,13,11,2017
1,1,2017-11-13 07:30:00+00:00,7,13,11,2017
2,2,2017-11-12 19:05:24+00:00,19,12,11,2017
3,3,2017-11-13 11:00:04+00:00,11,13,11,2017
4,4,2017-11-12 18:01:41+00:00,18,12,11,2017

In [11]:
channel_info = df[['channel_title']].reset_index(drop=True)
channel_info['channel_id'] = channel_info.index
channel_info = channel_info[['channel_id','channel_title']]

In [12]:
channel_info

       channel_id             channel_title
0               0              CaseyNeistat
1               1           LastWeekTonight
2               2              Rudy Mancuso
3               3     Good Mythical Morning
4               4                  nigahiga
...           ...                       ...
40896       40896             AaronsAnimals
40897       40897                  zefrank1
40898       40898                Brad Mondo
40899       40899  How It Should Have Ended
40900       40900              Call of Duty

[40901 rows x 2 columns]

In [13]:
video_status = df[['comments_disabled','ratings_disabled','video_error_or_removed']].reset_index(drop=True)
video_status['comments_disabled'] = df['comments_disabled']
video_status['ratings_disabled'] = df['ratings_disabled']
video_status['video_error_or_removed'] = df['video_error_or_removed']
video_status['status_id'] = channel_info.index
video_status = video_status[['status_id','comments_disabled','ratings_disabled','video_error_or_removed']]

In [14]:
video_status

       status_id  comments_disabled  ratings_disabled  video_error_or_removed
0              0              False             False                   False
1              1              False             False                   False
2              2              False             False                   False
3              3              False             False                   False
4              4              False             False                   False
...          ...                ...               ...                     ...
40896      40896              False             False                   False
40897      40897              False             False                   False
40898      40898              False             False                   False
40899      40899              False             False                   False
40900      40900              False             False                   False

[40901 rows x 4 columns]

In [15]:
category_type = {
   1:"Film and Animation",
   2:"Autos and Vehicles",
   10:"Music",
   15:"Pets and Animals",
   17:"Sports",
   18:"Short Movies",
   19:"Travel and Events",
   20:"Gaming",
   21:"Videoblogging",
   22:"People and Blogs",
   23:"Comedy",
   24:"Entertainment",
   25:"News and Politics",
   26:"Howto and Style",
   27:"Education",
   28:"Science and Technology",
   29:"Nonprofits and Activism",
   30:"Movies",
   31:"Anime/Animation",
   32:"Action/Adventure",
   33:"Classics",
   34:"Comedy",
   35:"Documentary",
   36:"Drama",
   37:"Family",
   38:"Foreign",
   39:"Horror",
   40:"Sci-Fi/Fantasy",
   41:"Thriller",
   42:"Shorts",
   43:"Shows",
   44:"Trailers"
}

video_info = df[['comments_disabled','ratings_disabled','video_error_or_removed']].reset_index(drop=True)
video_info['title'] = df['title']
video_info['tags'] = df['tags']
video_info['thumbnail_link'] = df['thumbnail_link']
video_info['category_id'] = df['category_id']
video_info['category_type'] = df['category_id'].map(category_type)
video_info['title_id'] = video_info.index
video_info = video_info[['title_id','title','tags','thumbnail_link','category_id','category_type']]

In [16]:
video_info

,title_id,title,tags,thumbnail_link,category_id,category_type
0,0,WE WANT TO TALK ABOUT OUR MARRIAGE,SHANtell martin,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,22,People and Blogs
1,1,The Trump Presidency: Last Week Tonight with J...,"last week tonight trump presidency|""last week ...",https://i.ytimg.com/vi/1ZAPwfrtAFY/default.jpg,24,Entertainment
2,2,"Racist Superman | Rudy Mancuso, King Bach & Le...","racist superman|""rudy""|""mancuso""|""king""|""bach""...",https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,23,Comedy
3,3,Nickelback Lyrics: Real or Fake?,"rhett and link|""gmm""|""good mythical morning""|""...",https://i.ytimg.com/vi/puqaWrEC7tY/default.jpg,24,Entertainment
4,4,I Dare You: GOING BALD!?,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",https://i.ytimg.com/vi/d380meD0W0M/default.jpg,24,Entertainment
...,...,...,...,...,...,...
40896,40896,The Cat Who Caught the Laser,"aarons animals|""aarons""|""animals""|""cat""|""cats""...",https://i.ytimg.com/vi/BZt0qjTWNhw/default.jpg,15,Pets and Animals
40897,40897,True Facts : Ant Mutualism,[none],https://i.ytimg.com/vi/1h7KV2sjUWY/default.jpg,22,People and Blogs
40898,40898,I GAVE SAFIYA NYGAARD A PERFECT HAIR MAKEOVER ...,I gave safiya nygaard a perfect hair makeover ...,https://i.ytimg.com/vi/D6Oy4LfoqsU/default.jpg,24,Entertainment
40899,40899,How Black Panther Should Have Ended,"Black Panther|""HISHE""|""Marvel""|""Infinity War""|...",https://i.ytimg.com/vi/oV0zkMe1K8s/default.jpg,1,Film and Animation
40900,40900,Official Call of Duty®: Black Ops 4 — Multipla...,"call of duty|""cod""|""activision""|""Black Ops 4""",https://i.ytimg.com/vi/ooyjaVdt-jA/default.jpg,20,Gaming

In [17]:
fact_table = df.merge(publish_time_info, left_on='yt_video_id', right_on='publish_time_id') \
             .merge(video_info, left_on='yt_video_id', right_on='title_id') \
             .merge(channel_info, left_on='yt_video_id', right_on='channel_id') \
             .merge(video_status, left_on='yt_video_id', right_on='status_id') \
             [['yt_video_id','video_id', 'title_id', 'channel_id','status_id', 'publish_time_id','trending_date', 'views', 'likes','dislikes', 'comment_count']]

In [18]:
fact_table

,yt_video_id,video_id,title_id,channel_id,status_id,publish_time_id,trending_date,views,likes,dislikes,comment_count
0,0,0,0,0,0,0,2017-11-14,748374,57527,2966,15954
1,1,0,1,1,1,1,2017-11-14,2418783,97185,6146,12703
2,2,0,2,2,2,2,2017-11-14,3191434,146033,5339,8181
3,3,0,3,3,3,3,2017-11-14,343168,10172,666,2146
4,4,0,4,4,4,4,2017-11-14,2095731,132235,1989,17518
...,...,...,...,...,...,...,...,...,...,...,...
40896,40896,0,40896,40896,40896,40896,2018-06-14,1685609,38160,1385,2657
40897,40897,0,40897,40897,40897,40897,2018-06-14,1064798,60008,382,3936
40898,40898,0,40898,40898,40898,40898,2018-06-14,1066451,48068,1032,3992
40899,40899,0,40899,40899,40899,40899,2018-06-14,5660813,192957,2846,13088
40900,40900,0,40900,40900,40900,40900,2018-06-14,10306119,357079,212976,144795

In [19]:
video_info.columns

Index(['title_id', 'title', 'tags', 'thumbnail_link', 'category_id',
       'category_type'],
      dtype='object')

In [20]:
channel_info.columns

Index(['channel_id', 'channel_title'], dtype='object')

In [21]:
publish_time_info.columns

Index(['publish_time_id', 'publish_time', 'publish_hour', 'publish_day',
       'publish_month', 'publish_year'],
      dtype='object')

In [22]:
video_status.columns

Index(['status_id', 'comments_disabled', 'ratings_disabled',
       'video_error_or_removed'],
      dtype='object')

In [23]:
fact_table.columns

Index(['yt_video_id', 'video_id', 'title_id', 'channel_id', 'status_id',
       'publish_time_id', 'trending_date', 'views', 'likes', 'dislikes',
       'comment_count'],
      dtype='object')